.list-card-title {
  padding-left: 5px;
}

.list-card-members {
  position: absolute;
  right: 8px;
  bottom: 2px;
}


.list-card-labels {
  min-height: 21px;
}

.list-card-labels .card-label {
  display: none;
}



.mod-show-menu.board-header-btn {
  padding: 0;
}

a.mod-show-menu.board-header-btn:hover {
  background: none;
}

.mod-show-menu .board-header-btn-text {
  display: none;
}



.board-menu-header-close-button {
  margin-top: 5px;
  text-decoration: none;
}

.board-header-btn-name {
  position: relative;
  bottom: 1px;
}

.board-header-btn-name-with-org-logo > img {
  top: auto;
  bottom: 7px;
  left: 1px;
  height: 15px;
  width: 15px;
}

.board-main-content .board-header-btn-name-with-org-logo > span {
  padding: 0 6px 0 15px;
}



.pmt-card-tags {
  width: 225px;
  opacity: 0;
}

.pmt-card-tags.pmt-animate {
  transition: opacity 0.35s linear;
  opacity: 1;
}

.pmt-card-tags > i:first-child,
.pmt-card-tags > span:first-child {
  margin-left: 65px;
}

.pmt-card-tags > * {
  margin-right: 5px;
}

.pmt-card-tags > span {
  display: inline-block;
  min-width: 10px;       /* text.length == 1 */
  text-align: center;    /* text.length <= 1 */
}

.pmt-card-tags > span:empty {
  height: 18px;
}

.pmt-card-tags > div,
.pmt-card-tags > span {
  vertical-align: top;
  padding: 0 5px;
  font-size: 12px;
  border-radius: 3px;
  color: #666;
}

.pmt-card-tags > div {
  width: 220px;
  padding-top:    3px;
  padding-bottom: 3px;
}

.pmt-card-tags div:first-child {
  margin-top: 23px;
}

.pmt-card-tags > div::before {
  content: '- ';
}

.pmt-card-tags > i,
.pmt-card-tags > span {
  height: 18px;
  margin-bottom: 5px;
}

.pmt-card-tags > i {
  margin-bottom: 3px;
}
