.list-card .pmt-card-tags {
  width: 205px;
  opacity: 0;
}

.list-card .pmt-card-tags.animate-in {
  /* helps scrum for trello pop in look smoother */
  transition: opacity 2.5s ease-out;
  opacity: 1;
}

.list-card .pmt-card-tags > i:first-child,
.list-card .pmt-card-tags > span:first-child {
  margin-left: 68px;
}

.list-card .pmt-card-tags > * {
  margin-right: 10px;
}

.list-card .pmt-card-tags > span {
  display: inline-block;
  min-width: 10px;       /* text.length == 1 */
  text-align: center;    /* text.length <= 1 */
}

.list-card .pmt-card-tags > span:empty {
  height: 18px;
}

.list-card .pmt-card-tags > div,
.list-card .pmt-card-tags > span {
  padding: 0 5px;
  vertical-align: top;
  font-size: 12px;
  border-radius: 3px;
  color: #666;
}

.list-card .pmt-card-tags > div {
  width: 220px;
  padding-top:    3px;
  padding-bottom: 3px;
}

.list-card .pmt-card-tags div:first-child {
  margin-top: 23px;
}

.list-card .pmt-card-tags > i,
.list-card .pmt-card-tags > span {
  height: 18px;
  margin-bottom: 5px;
}

.list-card .pmt-card-tags > i {
  font-size: 18px;
  margin-bottom: 3px;
}
