.card-detail-window .picker-title {
  width: 125px;
  padding: 0;
  display: inline-block;
}

.list-total {
  font-size: 13px;
  float: left;
}

.list-total .cpoints {
  margin-right: 0;
}

.list-total .cpoints::after {
  content: ' / ';
}

div.badges {
  padding-bottom: 22px;
}

.badge-points.point-count {
  position: absolute;
  top: 8px;
  left: 8px;

  width: 29px;
  padding-left:   0px !important;
  text-align: center;

  background-image: none !important;
  font-size: 10px;
  opacity: .5;
  text-overflow: initial;
}

.badge.badge-points.point-count.consumed {
  padding-right: 29px !important;
}

.badge.badge-points.point-count.consumed::after {
  content: '/';
  font-size: 15px;
  position: absolute;
  left: 27px;
  top: 0;
}

.badge.badge-points.point-count:not(.consumed) {
  left: 37px;
  background-color: transparent !important;
  z-index: 1;
  opacity: 1;
}

.badge.badge-points:empty {
  display: inline-block !important;
}

.js-badges {
  margin-left: 1px;
}
