div.list-header {
  min-height: 37px;
}

/* hide number of cards when filtering */
p.list-header-num-cards:not(.hide) {
  display: none;
}

.list-card-title {
  padding-left: 5px;
}

.list-card-members {
  position: absolute;
  right: 8px;
  bottom: 2px;
}

.list-card-labels {
  min-height: 21px;
}

/* overrides collapsing on drag */
.list-card-labels:empty {
  display: block !important;
  height: 25px;
}

.list-card-labels .card-label {
  display: none;
}



a.mod-show-menu.board-header-btn:hover {
  background: none;
}

a.mod-show-menu .icon-sm,
a.mod-show-menu .board-header-btn-text {
  display: none;
}

a.board-header-btn-filter-indicator {
  margin-right: 15px;
}

.board-menu-header-close-button {
  margin-top: 5px;
  text-decoration: none;
}



.board-header #burndownLink,
.board-header .js-open-org-menu,
.board-header .mod-left > * {
  opacity: .5;
}

.board-header #burndownLink:hover,
.board-header .js-open-org-menu:hover,
.board-header .mod-left > :hover {
  opacity: 1;
}

.board-header .board-header-btn-name {
  position: relative;
  bottom: 1px;
}

.board-header .js-rename-board {
  right: 3px;
}



.pmt-card-tags {
  width: 205px;
  opacity: 0;
}

.pmt-card-tags.animate-in {
  /* helps scrum for trello pop in look smoother */
  transition: opacity 2.5s ease-out;
  opacity: 1;
}

.pmt-card-tags > i:first-child,
.pmt-card-tags > span:first-child {
  margin-left: 63px;
}

.pmt-card-tags > * {
  margin-right: 5px;
}

.pmt-card-tags > span {
  display: inline-block;
  min-width: 10px;       /* text.length == 1 */
  text-align: center;    /* text.length <= 1 */
}

.pmt-card-tags > span:empty {
  height: 18px;
}

.pmt-card-tags > div,
.pmt-card-tags > span {
  vertical-align: top;
  padding: 0 5px;
  font-size: 12px;
  border-radius: 3px;
  color: #666;
}

.pmt-card-tags > div {
  width: 220px;
  padding-top:    3px;
  padding-bottom: 3px;
}

.pmt-card-tags div:first-child {
  margin-top: 23px;
}

.pmt-card-tags > i,
.pmt-card-tags > span {
  height: 18px;
  margin-bottom: 5px;
}

.pmt-card-tags > i {
  font-size: 18px;
  margin-bottom: 3px;
  margin-right: 5px;
}
