div.list-header {
  min-height: 37px;
}

/* hide number of cards when filtering */
p.list-header-num-cards:not(.hide) {
  display: none;
}

.list-card-title {
  padding-left: 5px;
}

.list-card-members {
  position: absolute;
  right: 8px;
  bottom: 2px;
}

div.list-card-labels {
  min-height: 21px;
  overflow: visible;
}

/* overrides collapsing on drag */
.list-card-labels:empty {
  display: block !important;
  height: 25px;
}

.list-card-labels .card-label {
  display: none;
}


a.mod-show-menu {
  position: absolute;
  right: 0;

  padding-left: 0;
}

a.mod-show-menu.board-header-btn:hover {
  background: none;
}

a.mod-show-menu .icon-sm,
a.mod-show-menu .board-header-btn-text {
  display: none;
}

a.board-header-btn-filter-indicator {
  margin-right: 15px;
}


div.board-menu {
  z-index: 11;
}

.board-menu-header-close-button {
  margin-top: 5px;
  text-decoration: none;
}



.board-header #burndownLink,
.board-header .js-open-org-menu,
.board-header .mod-left > * {
  opacity: .5;
}

.board-header #burndownLink:hover,
.board-header .js-open-org-menu:hover,
.board-header .mod-left > :hover {
  opacity: 1;
}

.board-header .board-header-btn-name {
  position: relative;
  bottom: 1px;
}

.board-header .js-rename-board {
  right: 3px;
}
